* {
  padding: 0%;
  margin: 0;
  /* width: 80%; */
  /* background-color: aqua; */
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url(https://fonts.gstatic.com/s/poppins/v13/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-bar div {
  display: flex;
  flex-direction: row;
}
.icon-chat {
  color: hsl(322, 100%, 66%);
  margin: 2rem 0 2rem 1rem;
  height: 1rem;
  width: 1rem;
}

.top-bar button {
  /* text-align: center; */
  height: 2rem;
  margin: 1.5rem auto;
  border-radius: 1rem;
  color: hsl(322, 100%, 66%);
  border: 2px solid hsl(322, 100%, 66%);
  background-color: white;
  text-align: center;
  padding: 0.5rem 2rem;
}

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 1rem;
}
.msg-content {
  color: rgb(94, 94, 94);
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  margin: 1rem;
  font-size: 0.8rem;
}
.buttons {
  background-color: hsl(322, 100%, 66%);
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 1rem;
  border: none;
  margin: 1rem auto;
}
.one-edge-shadow {
  /* -webkit-box-shadow: 0 8px 6px -6px rgb(37, 37, 3/7); */
  /* -moz-box-shadow: 0 8px 6px -6px rgb(37, 37, 37); */
  box-shadow: 0 8px 6px -6px rgb(37, 37, 37);
}
.msg-container {
  /* background-color: thistle; */
  /* margin: 0 auto; */
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* width: 80%; */
  /* margin: 1rem 0; */
  /* padding: 2rem; */
}
.msg-container-box {
  overflow: hidden;
  text-align: center;
}
.msg-numbers {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.msg-numbers div {
  margin: 1rem auto;
  padding: 1rem;
}
.msg-numbers h1 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 3rem;
}
.Grow-Together {
  margin-top: 0;
  background-color: hsl(207, 100%, 98%);
  /* background-color: yellow; */
}
.background {
  background-color: white;
}
.background-bottom {
  margin-top: 0;
  /* background-color: yellow; */
  width: 100%;
}
.picStyle {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 5rem auto;
}
.under-container {
  width: 80%;
}
.centr {
  width: 80%;
  margin: 2rem auto;
  color: rgb(255, 255, 255);
}
.Newsletter-form-container h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.Newsletter-form-container input {
  border: none;
  height: 1.5rem;
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.3rem;
}
.Newsletter-form-container button {
  border: none;
  /* height: 2rem; */
  border-radius: 0.3rem;
  padding: 0.5rem;
  margin: 1rem;
  position: relative;
  left: 60%;
  background-color: hsl(322, 100%, 66%);
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.Newsletter-form-content {
  color: rgb(201, 201, 201);
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
  margin: 1rem 0;
  font-weight: 200;
}
.contact-container {
}
.footer-container {
  background-color: hsl(192, 100%, 9%);
  padding-bottom: 1rem;
}
.footer-title {
  font-family: "Poppins", sans-serif;
}
.footer-container-background {
  background-color: hsl(192, 100%, 9%);
  width: 100%;
}
